<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Game of Life</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <h1>Game of Life</h1>
    <div class="container">
        <div id="grid"></div>
    </div>
    <div class="buttons">
        <button class="start" onclick="startGame()">Start</button>
        <button class="stop" onclick="stopGame()">Stop</button>
        <button class="reset" onclick="resetGame()">Reset</button>
    </div>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>